* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
  border: 2px solid black;
  border-radius: 16px;
  padding: 8px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
}